:root {
  --color-primary: #8e5c4a;
}

html {
  font-family: "Segoe UI", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  color: var(--color-primary);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-weight: 600;
}

.list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

/* header */
.header>.wrapper {
  justify-content: end;
  align-items: center;
}

/* nav */
.nav-list {
  display: flex;
}

.list__link {
  display: block;
  margin: 5px 10px;
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s;
}

.list__link::after {
  z-index: -1;
  position: absolute;
  top: 36px;
  left: 50%;
  width: 0;
  height: 2px;
  content: "";
  background-color: var(--color-primary);
  transition: all 0.35s;
}

.list__link:hover::after {
  left: 0;
  width: 100%;
}

.list__link:hover {
  transform: scale(1);
}

/* footer */
.footer>.wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 600;
}

.footer__link {
  display: inline-block;
  transition: all 0.35s;
}

.footer__link:hover {
  transform: scale(1.1);
}

.footer__link_rsschool-logo {
  width: 100px;
  height: 37px;
  background: url("./assets/rs_school.svg") center no-repeat;
}

.footer__link_github-logo {
  width: 40px;
  height: 40px;
  background: url("./assets/github.svg") center / contain;
}
